################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
*CodeGenerator
*.vs
*bin
*obj
*dist
*packages
*lut
*pdb
/docment/sand
/CodeGenerator
/sand/.vs
/sand/.vs/Sand/lut
/Sand/obj/Debug
/packages
/Sand.Web/bin/Debug
/Sand.Web/obj/Debug
/Sand.WebApi/obj/Debug
/Test/bin
/Test/obj/Debug
/WebApplication1/bin
/WebApplication1/obj/Debug
/TestWeb/bin
/Resources/Data/obj/Debug
/Resources/Presentation.Api/bin
/Resources/Presentation.Api/obj/Debug
/Resources/Service/obj/Debug
/Resources/System.Domain/obj/Debug
/Sand/bin
/Resources/System.Domain/bin/Debug
/Document/Document/obj/Debug
/sand.zip
/WebApiTest/bin/Debug
/WebApiTest/obj/Debug
/WebApiTest
/Sand.WebApi/bin/Debug
/Resources/Data/bin/Debug
/Presentation.Manager/obj/Debug
/Presentation.Manager/bin
/Resources/Presentation/Presentation.Spa/App_Data/aspnet-Presentation.Spa-20161026104815.mdf
*.ldf
*.mdf
*.txt
/Resources/Presentation/Presentation.Spa/bin
/Resources/Presentation/Presentation.Spa/obj/Debug
/Resources/Service/bin/Debug
/Document/Document/obj/Release
/Resources/Release
/.vs/config
/SandRelease
/.vs/Sand/v14
/.vs/Sand/v15
/sand.admin/Backstage/src/views/test
/sand.admin/Backstage/node_modules
/mobile/sandapp/unpackage
/src/sand.admin/Backstage/package - 副本.json
/WebApplication1/WebApplication1.csproj
/WebApplication1/Startup.cs
/WebApplication1/Properties/launchSettings.json
/WebApplication1/Properties
/WebApplication1/Program.cs
/WebApplication1/Controllers/ValuesController.cs
/WebApplication1/Controllers
/WebApplication1/appsettings.json
/WebApplication1/appsettings.Development.json
/WebApplication1
